body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.container-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.advantages {
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 341px;
  margin-top: 95px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 134px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item-title {
  font-size: 20px;
  line-height: 24px;
  color: #FFFF;
}

.advantages__item-text {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FFFF;
}

.arrow {
  padding: 20px;
}

.brand {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F1E4E6;
}

.brand__img {
  width: 800px;
  height: 765px;
}

.brand__title-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 0 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}

.brand__title-lower {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

.brand__titel-pink {
  color: #F16D7F;
}

.button__join {
  width: 167px;
  height: 50px;
  border-radius: 0;
  border: 1px solid #F16D7F;
  background: #FFFF;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  text-align: end;
}

.button__join:hover {
  background: #F16D7F;
  color: #FFFF;
}

.form-username__email,
.form-username__username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-username__join {
  margin-top: 39px;
  margin-bottom: 96px;
}

.header {
  background-color: #222222;
}

.header__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__search-icon {
  fill: #FFFF;
}

.header__search-icon:hover {
  fill: #F16D7F;
  cursor: pointer;
}

.header__burgeer-icon {
  fill: #FFFF;
}

.header__burgeer-icon:hover {
  fill: #F16D7F;
  cursor: pointer;
}

.header__person-icon {
  fill: #FFFF;
}

.header__person-icon:hover {
  fill: #F16D7F;
}

.header__basket-icon {
  fill: #FFFF;
}

.header__basket-icon:hover {
  fill: #F16D7F;
}

.header__nav {
  display: none;
  position: absolute;
  width: 232px;
  min-height: 764px;
  right: 0;
  top: 75px;
  background-color: #FFFFFF;
  padding-left: 34px;
  -webkit-box-shadow: -4px 6px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: -4px 6px 8px 0px rgba(34, 60, 80, 0.2);
}

.header__burger:hover + .header__nav,
.header__burger:focus + .header__nav {
  display: block;
}

.header__nav-cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 16px 16px 0 0;
}

.header__nav-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  text-transform: uppercase;
  padding-top: 8px;
  margin-bottom: 4px;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__burger {
  border: none;
  background-color: transparent;
}

.header__link {
  margin: 0 0 0 33px;
}

.input {
  width: 360px;
  height: 45px;
  border-radius: 0;
  border: 1px solid #A4A4A4;
  color: #B1B1B1;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  padding-left: 17px;
  margin-top: 20px;
}

.lable__username,
.lable__login {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  margin-top: 35px;
}

.nav-item__title {
  color: #F16D7F;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 12px;
  margin-top: 20px;
}

.nav-item__list {
  margin-left: 25px;
}

.nav-item__item {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 11px;
}

.nav-item__item-link {
  text-decoration: none;
  color: #222222;
}

.nav-item__item-link:hover {
  font-weight: bold;
}

.nav-item__item-link:active {
  color: #F16D7F;
}

.password-text {
  margin-top: 15px;
  width: 360px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #B1B1B1;
}

.products__title {
  margin-top: 96px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.products__sub-title {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 48px;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__item {
  background-color: #F5F4F4;
  height: 581px;
  width: 360px;
  margin-bottom: 30px;
}

.products-wrapper-overlay {
  position: relative;
}

.products-wrapper-overlay::before {
  content: '';
  width: 100%;
  min-height: 420px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
}

.products-wrapper-overlay::before {
  display: none;
}

.products__item-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 139px;
  height: 44px;
  border-radius: 0;
  font-size: 16px;
  line-height: 19px;
  color: #FFFF;
  border: 1px solid #FFFF;
  background-color: rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.products__basket-icon {
  width: 26px;
  height: 24px;
}

.products__item-button {
  display: none;
}

.products__item:hover .products-wrapper-overlay::before {
  display: block;
}

.products__item:hover .products__item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.products__item-button:hover {
  background: #F16D7F;
  border: 2px solid #F16D7F;
}

.products__item-button:active {
  background: pink;
}

.products__item-wrp {
  width: 315px;
  margin-left: 17px;
}

.products__item-title {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 25px;
}

.products__item-text {
  font-weight: 300;
  margin-top: 13px;
}

.products__item-price {
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  margin-top: 18px;
}

.products__all-product {
  width: 211px;
  height: 47px;
  margin-left: 465px;
  margin-top: 18px;
  padding: 14px 37px;
  border-radius: 0;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background-color: #FFFF;
}

.products__all-product:hover {
  color: #FFFF;
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
  cursor: pointer;
}

.products__all-product:active {
  opacity: 0.7;
}

.radio__sex {
  margin-top: 31px;
}

.registration-info {
  width: 652px;
  margin-top: 44px;
}

.registration-info__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.registration-info__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 21px;
}

.registration-info__list {
  margin: 0;
  list-style: none;
}

.registration-info__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  right: -25px;
  margin-bottom: 16px;
}

.registration-info__item:before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: -25px;
  background-image: url(../img/registration/Vector.svg);
  background-size: 15px 15px;
}

.registration {
  background: #F1E4E6;
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}

.registration__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  font-weight: 400;
}

.sales__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sales__item {
  width: 360px;
  height: 260px;
  margin-top: 30px;
  background-color: #4E4544;
}

.sales__item--women {
  background-image: url(../img/main/for-women.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sales__iten--men {
  background-image: url(../img/main/for-men.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sales__item--kids {
  background-image: url(../img/main/for-kids.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sales__item--accesories {
  height: 180px;
  width: 100%;
  background-image: url(../img/main/accesories.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sales__item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFF;
}

.sales__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
}

.social {
  min-height: 79px;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__copy {
  margin-left: 90px;
  font-size: 16px;
  line-height: 19px;
  color: #FFFF;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 90px;
}

.social__item {
  margin-left: 7px;
}

.social__bkg {
  fill: white;
}

.social__simbol {
  fill: black;
}

.social__item:hover .social__bkg {
  fill: #F16D7F;
}

.social__item:hover .social__simbol {
  fill: #FFFF;
}

.subscribe {
  background-image: url(../img/footer/subscribe.jpg);
  min-height: 448px;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__wrp {
  width: 1138px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__info-wrp {
  width: 360px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__info {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.subscribe__form-wrp {
  width: 557px;
  height: 142px;
}

.suscribe__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe__text {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}

.subscribe__input {
  border-radius: 40px 0px 0px 40px;
  padding-left: 15px;
  border: 0px solid;
  background: #E1E1E1;
  width: 230px;
  height: 49px;
}

.subscribe__button {
  background: #F16D7F;
  border-radius: 0px 40px 40px 0px;
  border: 0px;
  color: #FFFF;
  width: 100px;
}

.subscribe__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.subscribe__form {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */