.input{
    width: 360px;
    height: 45px;
    border-radius: 0;
    border: 1px solid #A4A4A4;
    color: #B1B1B1;

    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    padding-left: 17px;

    margin-top: 20px;
}