.registration{
    background: $pink-bkg;
    min-height: 148px;
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.registration__title{
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    color: $pink-color;
    font-weight: 400;
}